  <div align="center">
    <p class="f3 lh-title light-gray b tc mb2">Credits</p>
    <p>3D MODELS: Mars rover Curiosity - NASA 3D models collection Parker Solar probe - NASA 3D models collection Starigrad fortress in Croatia - by Azad Balbanian (CC BY 4.0) model not modified St. George Church in Croatia - by Azad Balbanian (CC BY 4.0) model not modified Glacial Lake - by jakbb (CC BY 4.0) model not modified Handpainted Turntable Platforms - Unity free asset by 3d.rina Free Trees - Unity free asset by DARTH_ARTISAN Mobile Tree - Unity free asset by LAXER CC BY 4.0 link  http://creativecommons.org/licenses/by/4.0/</p>
</p>
  </div>
